*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'poppins';
}
#container{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: start;
}
#main{
    height:auto;
    width: 400px;
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #1100ff;
    box-shadow: -8px 8px 16px #1100ff3a;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}
form{
    width: 100%;
    height: auto;
    
}
.formContent{
width: 100%;
height: auto;
display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
form input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid #1100ff;
    box-shadow: -8px 8px 16px #1100ff3a;
    padding-left: 15px;
    border-radius: 4px;
}
form button{
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border: 1px solid #1100ff;
    width: 40px;
    cursor: pointer;
    border-radius: 107px;
    box-shadow: -8px 8px 16px #1100ff3a;
}
#contentItem{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1100ff;
    border-radius: 7px;
    color: white;
    box-shadow: -8px 8px 16px #0c00bb7e;
}
.content button{
    border: none;
    color: red;
    background: none;
    font-size: 22px;
    cursor: pointer;
}
.warn{
    color: blue;
    font-size: 15px;
    width: 100%;
}